services:
  development:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: mypdf_dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
    command: npm run dev

  production:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: mypdf_prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
